{% extends "base_auth.html" %}
{% block title %}Reset password{% endblock %}
{% block auth_content %}
  <h1 class="auth-card__title">Reset your password</h1>
  <p class="auth-card__lead">Enter the email on your account and we'll send you a reset link.</p>
  <form method="post" class="stack" novalidate>
    {% csrf_token %}
    {% include "components/form_field.html" with field=form.email %}
    <button class="btn btn--primary btn--block" type="submit">Send reset link</button>
  </form>
  <p class="auth-card__footer"><a href="{% url 'accounts:login' %}">Back to sign in</a></p>
{% endblock %}